@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@300;400;500;600&family=PT+Serif&family=Space+Grotesk:wght@300;400;500&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Space Grotesk', sans-serif; */

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.body {
  width: 100vw;
}
nav {
  width: 100%;
  height: 50px;
}
nav > img {
  height: 100%;
  margin: 10px;
}
main {
  width: 90%;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > div {
  margin: 5vh;
  width: 30vh;
  text-align: center;
  /* max-height: 30vh; */
}
main > div > img {
  width: 100%;
  height: 100%;
}
main > h1 {
  padding: 2vh;
  font-size: 45px;
  text-transform: capitalize;
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-weight: 600;
}
main > h1 > span {
  color: #7f56d9;
  text-transform: uppercase;
}
main > p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  padding-bottom: 5vh;
}
main > p > b {
  color: #7f56d9;
  font-weight: 600;
}
main > button {
  padding: 5px;
  border: none;
  border-radius: 15px;
  width: 30%;
  min-width: 250px;
  max-width: 400px;
  height: 5vh;
  background-color: #7f56d9;
}
main > button:hover {
  opacity: 0.8;
  transition: 0.9s, -webkit-mask-size 0.3s 0.3s;
}
main > button > a {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  display: block;
  width: 100%;
  /* height: 100%; */
  color: #f6f6f3;
}
main > button > a:hover {
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}
#brefer {
  display: block;
  width: 90%;
  min-height: 200px;
  /* max-height: 30vh; */
  background-color: #c7f9d6;
  border-radius: 20px;
  /* z-index: 1; */
  margin: 0 auto;
  margin-bottom: 8vh;
  padding: 2%;
}
#brefer > div:first-child {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
#brefer > div:first-child > div:first-child {
  width: 30%;
  height: 80%;
}
#brefer > div:first-child > div:first-child > img {
  width: 100%;
}
#brefer > div:first-child > div:last-child {
  /* text-align: right; */
  width: 70%;
}
#brefer > div:first-child > div:last-child > h1 {
  width: 100%;
  font-size: 7vw;
  padding: 2%;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
#brefer > div:first-child > div:last-child > p {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}
input[type="button"] {
  padding: 8px;
  /* text-align: right; */
  border-radius: 10px;
  border: 1px solid #7f56d9;
  margin: 0 10px;
}
input[type="button"]:hover {
  background-color: #ad91e9;
  color: aliceblue;
}
#brefer > div:last-child {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  main > button {
    padding: 5px;
    border: none;
    border-radius: 15px;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    height: 5vh;
    background-color: #b9a1ec;
  }
}
